.mat-card h2 {
    width: 85%;
    font-size: 20px;
    margin-left: 0;
}

@-webkit-keyframes autofill {
    to {
        background: transparent;
    }
}

@keyframes autofill {
    to {
        background: transparent;
    }
}

input:-webkit-autofill {
    animation-name: autofill;
    -webkit-animation-name: autofill;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-text-fill-color: #fff;
}

input:-internal-autofill-selected,
input {
    color: #fff !important;
}

.mat-card {
    width: 55%;
    margin: 100px 0 0 100px;
    background: transparent;
}

.mat-form-field {
    display: block;
}
