.title-contact {
    max-width: 100%;
    width: 90%;
    font-size: 25px;
    line-height: 24px;
    margin: 0 0 20px 0;
}

@-webkit-keyframes autofill {
    to {
        background: transparent;
    }
}

@keyframes autofill {
    to {
        background: transparent;
    }
}

input:-webkit-autofill {
    animation-name: autofill;
    -webkit-animation-name: autofill;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-text-fill-color: #fff;
}

input:-internal-autofill-selected,
input {
    color: #fff !important;
}

.mat-card {
    max-width: 940px;
    margin: 0 0 0 100px;
    background: transparent;
}

.mat-form-field {
    display: block;
    margin-bottom: 10px;
}

.mat-error {
    padding-top: 5px;
}

@media (max-width: 1240px) {
    .mat-card {
        margin: auto;
    }

    .mat-card:not([class*=mat-elevation-z]) {
        box-shadow: none;
    }
}

@media (max-width: 768px) {
    .title-contact {
        font-size: 21px;
        line-height: 23px;
    }
}

@media (max-width: 500px) {
    .title-contact {
        width: 100%;
        font-size: 19px;
        line-height: 21px;
        margin: 0px
    }
}