@-webkit-keyframes autofill {
    to {
        background: transparent;
    }
}

@keyframes autofill {
    to {
        background: transparent;
    }
}

input:-webkit-autofill {
    animation-name: autofill;
    -webkit-animation-name: autofill;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-text-fill-color: #fff;
}

input:-internal-autofill-selected,
input {
    color: #fff !important;
}

.mat-card {
    background: transparent;
}
