<nav class="flex sp-bt flex-column">
  <div class="logo">
    <img src="../../assets/img/code.svg" alt="">
  </div>

  <ul>
    <li> 
      <a routerLink="/" class="nav-link">
        <img src="../../assets/img/home.svg" alt="">
        Home
      </a> 
    </li>
    <li> 
      <a routerLink="competencias" class="nav-link">
        <img src="../../assets/img/skill.svg" alt="">
        skills
      </a> 
    </li>
    <li> 
      <a routerLink="portfolio" class="nav-link">
        <img src="../../assets/img/portfolio.svg" alt="">
        portfolio
      </a> 
    </li>
    <li> 
      <a routerLink="contato" class="nav-link">
        <img src="../../assets/img/avatar.svg" alt="">
        sobre
      </a> 
    </li>
  </ul>

  <div></div>
</nav>