nav {
    background: #140159;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 500px;
    box-shadow: 1px 0px 2px #2c2671;
}

nav.active {
    transition: left .4s ease;
    left: 0;
}

.logo {
    display: flex;
    justify-content: center;
}

.nav-link {
    height: 42px;
    color: #fff;
    font-size: 14px;
    display: flex;
    line-height: 12px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.nav-link img {
    width: 32px;
    margin-bottom: 10px;
    transition: .3s ease-in-out;
}

.nav-link:hover img {
    margin-top: -39px;
}

.mat-icon-button {
    background: #140159;
    border-radius: 3px;
    width: 50px;
    height: 50px;
}

.mat-raised-button {
    color: #fff;
}

.open-menu {
    transition: left .4s ease;
    left: 0;
}

.open-menu.active {
    left: 60px;
}

.open-menu .mat-icon {
    transition: all .5s ease ;
}

.open-menu.active .mat-icon {
    transform: rotate(180deg);
}

@media (max-width: 600px) {
    nav {
        left: -64px;
    }
}