<main>
  <div class="portfolio">
    <h2 class="title">Aqui está alguns de meus projetos.</h2>
    <div class="portfolio-area" #gallery>
      <!-- <div class="portfolio-element" *ngFor="let project of projects">
        <img src={{project.pathImg}} class="portfolio-img" alt={{project.alt}}>
    
        <div class="portfolio-logo">
          <img src={{project.logo}} alt={{project.alt}}>
        </div>
      </div> -->

      <div class="portfolio-element">
        <a href="https://haytek.com.br/index" target="_blank">
          <img src="assets/img/haytek.png" class="portfolio-img">
          <div class="portfolio-logo">
            <img src="assets/img/logo-haytek.png">
          </div>
        </a>
      </div>

      <div class="portfolio-element">
        <a href="https://www.unicarioca.edu.br/pos-graduacao/gestao-de-micro-e-pequenas-empresas" target="_blank">
          <img src="assets/img/unicarioca.png" class="portfolio-img">
          <div class="portfolio-logo">
            <img src="assets/img/logo-unicarioca.png">
          </div>
        </a>
      </div>

      <div class="portfolio-element">
        <a href="http://cloud921.hospedagem.w3br.com/" target="_blank">
          <img src="assets/img/netgift.png" class="portfolio-img">
          <div class="portfolio-logo">
            <img src="assets/img/logo-netgift.png">
          </div>
        </a>
      </div>

      <div class="portfolio-element">
        <a href="https://www.paschoalotto.com.br" target="_blank">
          <img src="assets/img/paschoalotto.png" class="portfolio-img">
          <div class="portfolio-logo">
            <img src="assets/img/logo-paschoalotto.png">
          </div>
        </a>
      </div>

      <div class="portfolio-element">
        <a href="https://www.jujubajoias.com.br/" target="_blank">
          <img src="assets/img/jujuba-joias.png" class="portfolio-img">
          <div class="portfolio-logo">
            <img src="assets/img/logo-jujuba-joias.png">
          </div>
        </a>
      </div>

      <div class="portfolio-element">
        <a href="https://institutoronald.org.br/vemprafesta/" target="_blank">
          <img src="../../assets/img/irm.png" class="portfolio-img">
          <div class="portfolio-logo">
            <img src="../../assets/img/logo-irm.png">
          </div>
        </a>
      </div>
    </div>
  </div>
</main>