* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
}

body {
    margin-left: 70px;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.sp-bt {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

li {
    list-style-type: none;
}