* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background: #4E2FBF;
    overflow-x: hidden;
}


router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
}

app-home,
app-skills,
app-portfolio,
app-contato {
    padding: 100px 0 0 70px;
}

a {
    text-decoration: none;
}

p, h2 {
    color: #fff;
}

h2 {
    font-size: 50px;
    max-width: 550px;
    width: 100%;
}

.flex {
    display: flex;
}

.sp-bt {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

li {
    list-style-type: none;
}

.btn {
    background: rgb(242,211,118);
    background: linear-gradient(90deg, rgba(242,211,118,1) 0%, rgba(242,118,118,1) 100%);
}

.mat-raised-button {
    font-size: 17px;
}

.title .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}
  
.title .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
}

.svg-morph {
    width: 1000px;
}

.mat-form-field.mat-focused .mat-form-field-label,
.mat-form-field-appearance-legacy .mat-form-field-label {
    color: #fff;
}

.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #fff;
}

@media (max-width: 1440px) {
    h2 {
        font-size: 42px;
    }
}

@media (max-width: 1366px) {
    h2 {
        font-size: 36px;
    }
}

@media (max-width: 660px) {
    h2 {
        max-width: 77%;
        font-size: 30px;
    }
}