.svg-morph {
    width: 700px;
    position: absolute;
    right: 0;
    bottom: -140px;
}

@media(max-width: 1024px) {
    .svg-morph {
        width: 500px;
    }
}

@media(max-width: 768px) {
    .svg-morph {
        width: 350px;
        bottom: -90px;
    }
}